<h1> <font color = "green">
	Band page for <%= @band.name %>
</font></h1>

<label><h3>Albums</h3><ul>
	<% @band.albums.each do |album| %>
		<li>
			<%= link_to "#{album.album_name}", album_url(album)%>
		</li>
	<% end %>
</ul></label><br>


<%= link_to "Edit band", edit_band_url %>
<br>
<%= link_to "All bands", bands_url %>
<br><br>
<%= button_to "Annihilate band", band_url, method: :delete%>
<br>


<li><%= link_to "Create album", new_band_album_url(@band.id) %></li>
<li><%= link_to "Create band", new_band_url%></li>
