<h1> Track page for <%= @track.track_name %> </h1>

<%= link_to "#{@track.album.album_name}", album_url(@track.album_id) %>

<ul>
	<li>Type of track <%= @track.kind.downcase %></li>
	<li>Name of the track: <%= @track.track_name %></li>
</ul>

Lyrics: <%= @track.lyrics %>
br><br><br>

Write a note!
<%= render 'notes/form', track: @track %>
<%= render 'notes/note', track: @track %>

<br><br>
<%= link_to "Edit track", edit_track_url%>
<%= button_to "Annihilate track", track_url, method: :delete%>
<br>


<ul>
<li><%= link_to "Create track", new_album_track_url(@track.album_id) %></li>
<li><%= link_to "Create album", new_band_album_url(@track.band.id) %></li>
<li><%= link_to "Create band", new_band_url%></li>
</ul>