<h2>Hello <%= current_user.username %></h2>

<h3><%= @post.title %></h3>

<% if @post.url!='none' %>
	<a href='<%= @post.url %>'>More info</a> <br>
<% end %>

<%= @post.content %>
<br><br>

This post is on these subs:
<% @post.subs.each do |sub| %>
	&nbsp;<%= link_to sub.title, sub_url(sub) %><br>
<% end %>

<br><br>
<%= link_to("Edit post", edit_post_url) if current_user.id == @post.user_id %><br>

<br><br>
<% @post.comments.each do |comment| %>
	<%= "#{comment.user.username} wrote: #{comment.body}" %><br>
<% end %>

<%= flash[:errors] if flash[:errors] %>
<%= render 'comments/new', post: @post %>